<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../../../reset.css">
    <link rel="stylesheet" type="text/css" href="../../../main.css">
    <title>Invoice: <%= @invoice.id %> - <%= @invoice.status %></title>
  </head>

  <body>
    <%= erb :navigation %>
      <div class="header">
          <a href='/invoices-dashboard' class="dashboard-display">Dashboard</a>
          <h1 class ="header-title">Invoice: <%= @invoice.id %> - <%= @invoice.status.capitalize %></h1>
          <h1>
            <form action='invoices/<%= @invoice.id %>' method= "POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="delete" class="delete-button"/>
            </form>
          </h1>
          <a href='/invoices-dashboard'></a>
      </div>

      <section class="dropdown-box">
        
      </section>

      <table>
        <tr>
          <th>Item ID</th>
          <th>Item Title</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr>
        <% @invoice.invoice_items.each do |invoice_item| %>
        <tr>
          <td><a href="/items/<%= invoice_item.item_id %>"> <%= invoice_item.item_id %></a></td>
          <td> <%= invoice_item.find_title(invoice_item.item_id) %> </td>
          <td> <%= invoice_item.quantity %> </td>
          <td> $<%= (invoice_item.unit_price / 100.0).round(2) %> </td>
        </tr>
        <% end %>
      </table>
  </body>
</html>
