<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../../reset.css">
  <link rel="stylesheet" type="text/css" href="../../../main.css">
  <title>Invoice Index</title>
</head>

<body>
  <%= erb :navigation %>
    <div class="header">
        <a href='/invoices-dashboard' class="dashboard-display">Dashboard</a>
        <h1 class ="header-title">Invoices</h1>
        <a href='/invoices-dashboard'></a>
    </div>

      <div class="invoice-display">
        <li> <h3>Invoice ID:</h3> </li>
        <li> <h3>Status:</h3> </li>

      </div>
      <% @invoices.each do |invoice| %>
      <div class="invoice-display">

        <li><a href="/invoices/<%= invoice.id %>"><%= invoice.id %></a></li>
        <li> <%= invoice.status %> </li>

        <form action='invoices/<%= invoice.id %>' method= "POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="delete" class="delete-button"/>
        </form>

        <form action='invoices/<%=invoice.id %>/edit' method= "GET">
          <h1><input type="hidden" name="_method" value="EDIT"></h1>
          <input type="submit" value="edit" class="edit-button"/>
        </form>


      </div>
      <% end %>
    </div>

</body>
</html>
