<head>
  <link rel="stylesheet" type="text/css" href="../../../reset.css">
  <link rel="stylesheet" type="text/css" href="../../../invoice_dashboard.css">
<title>Invoice Dashboard</title>
</head>

<%= erb :navigation %>

<body>

  <div class="header">
      <h1 class ="header-title">Invoice Dashboard</h1>
  </div>

  <section class="invoice-dashboard-container">
    <section class="info-box">
      <h1>Status Percentages</h1>
      <section class="left">
        <% Invoice.unique_statuses.each do |status| %>
          <li> <%= status.capitalize %> </li>
        <% end %>
      </section>
      <section class="right">
        <% Invoice.status_percentages.each do |percentage| %>
          <li> <%= percentage %>% </li>
        <% end %>
      </section>
    </section>

    <section class="info-box">
      <h1>Unit Prices</h1>
      <section class="left">
        <% Invoice.unique_statuses.each do |status| %>
          <li> <%= status.capitalize %> </li>
        <% end %>
      </section>
      <section class="right">
        <% Invoice.status_percentages.each do |percentage| %>
          <li> <%= percentage %>% </li>
        <% end %>
      </section>
    </section>

    <section class="info-box">
      <h1>Quantity</h1>
      <section class="left">
        <% Invoice.unique_statuses.each do |status| %>
          <li> <%= status.capitalize %> </li>
        <% end %>
      </section>
      <section class="right">
        <% Invoice.status_percentages.each do |percentage| %>
          <li> <%= percentage %>% </li>
        <% end %>
      </section>
    </section>
  </section>

</body>
