<head>
  <link rel="stylesheet" type="text/css" href="../../../reset.css">
  <link rel="stylesheet" type="text/css" href="../../../main.css">
  <title>Merchant Index</title>
</head>
<body>
<%= erb :navigation %>
<div class="header">
    <h1 class ="header-title">Merchants</h1>
    <a href="/merchants/new" class="button">Create a New Merchant!</a>
    <a href='/merchants-dashboard'></a>
</div>
    <% @merchants.each do |merchant| %>
      <h3 class="merchant-header merchant-display"><a href='merchants/<%= merchant.id %>'><%= merchant.name %></a>
        <form action='merchants/<%=merchant.id %>/edit' method= "GET">
          <h1><input type="hidden" name="_method" value="EDIT"></h1>
          <input type="submit" value="edit" class="edit-button"/>
        </form>

        <form action='merchants/<%= merchant.id %>' method= "POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="delete" class="delete-button"/>
        </form>
    <% end %>
</body>
