<head>
  <link rel="stylesheet" type="text/css" href="../../../reset.css">
  <link rel="stylesheet" type="text/css" href="../../../merchant_dashboard.css">
<title>Merchant Dashboard</title>
</head>
<%= erb :navigation %>
<body>
<div class="header">
    <h1 class ="header-title">Merchants Dashboard</h1>
</div>
<div class="header">
  <div class="most-items">
    <h1>Merchant with the Most Items:</h1>
    <br>
    <a href="/merchants/<%= @merchants.most_items.id %>" class="most-items"><%= @merchants.most_items.name.capitalize %></a>
  </div>
  <br><br>
  <div class="expensive-items">
    <h1><strong>Merchant with the Highest Priced Item:</strong></h1>
    <br>
    <a href="/merchants/<%= @merchants.highest_priced_item.id %>"><%= @merchants.highest_priced_item.name %></a>
  </div>
</div>
<table class="flex-container">
  <tr class="column-headers">
    <th>Merchant Name</th>
    <th>Merchant Item Count</th>
    <th>Average Price of Item</th>
    <th>Total Cost of Items</th>
  </tr>
  <% @merchants.each do |merchant| %>
    <div>
      <tr>
        <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
        <td><%= merchant.items.count %></td>
        <td><%= "$" + merchant.average_price.to_s %></td>
        <td><%= "$" + merchant.total_price.to_s %></td>
      </tr>
    </div>
    <% end %>
</table>
</body>
